nav {
    background-color: #22552473;
    
    /* margin-bottom: 20px; */  
  
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    flex-grow: 1;
  
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
  }
  
  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  nav ul li a.activo {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media all and (max-width: 850px) {
    .galeria {
        width: 640px;
        align-items: center;
    }

    #root {
        width: 640px;
        align-items: center;

    }

    .carrusel {
        width: 600px;
        align-items: center;
    }

    main {
        width: 1163px;
    }

    .inicio {

        height: 500px;
    }

    #caja {
        width: 710px;
        margin-bottom: 550px;
        height: 100px;
        display: flex;
        flex-direction: row;

    }
}