body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main p {
  text-align: justify;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: green;
  font-weight: 400;
}






